.card-special {
  margin-top: 3%;
}

.btn-right {
  margin-left: 5px;
}

h6 {
  display: contents;
}

.div-actions {
  margin-top: 2%;
  text-align: right;
}

.alert {
  text-align: center;
}

.div-purchase {
  border-bottom: solid 1px;
}

@media (max-width: 600px) {
  .div-purchase {
    display: block;
    border: solid 1px;
  }
}

.badge-success {
  margin-right: 8px;
  cursor: pointer;
}

.badge-warning {
  margin-right: 8px;
  cursor: pointer;
}

.badge-primary {
  margin-right: 8px;
  cursor: pointer;
}
