<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Mil Ingresos Hitss</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 card-special">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <div class="alert alert-primary" role="alert">
            <small class="form-text text-muted">Código: <h6>3</h6></small>
            <small class="form-text text-muted">Nombre: <h6>Producto 1</h6></small>
            <small class="form-text text-muted">Precio: <h6>$ 123</h6></small>
            <div class="div-actions">
              <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
              <button type="button" class="btn btn-sm btn-outline-success btn-right">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 card-special">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <div class="alert alert-warning" role="alert">
            <small class="form-text text-muted">Código: <h6>3</h6></small>
            <small class="form-text text-muted">Nombre: <h6>Felipe Caycedo</h6></small>
            <small class="form-text text-muted">Identificación: <h6> 123</h6></small>
            <div class="div-actions">
              <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
              <button type="button" class="btn btn-sm btn-outline-success btn-right">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col card-special">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Compras</h5>
          <div class="alert alert-danger" role="alert">
            <small class="form-text text-muted">Código: <h6>3</h6></small>
            <small class="form-text text-muted">Nombre: <h6>Felipe Caycedo</h6></small>
            <small class="form-text text-muted">Identificación: <h6> 123</h6></small>
            <div class="div-actions">
              <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
              <button type="button" class="btn btn-sm btn-outline-success btn-right">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>